// $main-color: #c896c6;
// $main-color: #af39fd;
// $main-color: #f15123;
// $main-color: #f7df1e;
// $main-color: #ffa501;
// $main-color: #7c11f8;

// $main-color: #8e8cd8;
$main-color: #6b69d6;
$background-color: #f5f5f8;

$text-color: #000;
$alt-text-color: #151812;
$secondary-text-color: #fff;
$link-color: #53c1de;
$selection-color: #ffa501;
