@media (max-width: 768px) {
	.menu {
		&__block {
			width: 250px;
		}
		&__list {
			margin-left: 55px;
		}
	}
}
@media (max-width: 576px) {
	.menu {
		&__block {
			width: 100%;
			padding-right: 20px;
			background-color: unset;
			opacity: 0;
			transition: 0.5s;
		}
		&__item {
			&::before {
				border: none;
			}
			a {
				color: $secondary-text-color;
			}
		}
		&__social {
			bottom: 100px;
		}
		&_active &__block {
			opacity: 1;
		}
		&_active &__overlay {
			background-color: #000;
			opacity: 0.8;
		}
	}
}
