.hamburger {
	position: fixed;
	top: 24px;
	left: 32px;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 29px;
	z-index: 10;
	cursor: pointer;
	animation: hamburger-swap-back 0s forwards;
	span {
		display: block;
		width: 30px;
		height: 4px;
		background-color: $alt-text-color;
		transition: 2s all;
		border-radius: 30px;
		&:nth-child(1) {
			align-self: end;
		}
		&:nth-child(2),
		&:nth-child(3) {
			position: absolute;
			top: 50%;
			width: 30px;
			transform: translateY(-50%);
			align-self: center;
			transition: 1s all;
		}
		&:nth-child(4) {
			align-self: start;
		}
	}
	&_active {
		animation: hamburger-swap 1s forwards;
		span {
			box-sizing: content-box;
			background-color: $secondary-text-color;
			transition: 2s all;
			transform-origin: center;
			&:nth-child(1),
			&:nth-child(4) {
				width: 0;
				transition: 0.5s all;
			}
			&:nth-child(2),
			&:nth-child(3) {
				width: 40px;
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
			}
			&:nth-child(3) {
				transform: rotate(45deg);
			}
		}
	}
}
