@media (max-width: 1200px) {
	.resume {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			padding: 0;
		}
	}
}
@media (max-width: 992px) {
	.resume {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			column-gap: unset;
			padding: unset;
		}
	}
}
@media (max-width: 768px) {
	.resume {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: repeat (2, auto);
		}
		&__column {
			&::before,
			&::after {
				left: 5px;
			}
		}
	}
}
