include ./skillsBlock

#skills-main.skills__blocks
	+skillsBlock({
skill: "html",
imgSrc: "/assets/icons/skills/html5.svg",
title: "HTML5",
text: "It is he who creates the skeleton of your site or application, and the fifth version will allow me to create a more SEO-optimized structure of your product",
isParent: true,
})
	+skillsBlock({
skill: "css",
imgSrc: "/assets/icons/skills/css3.svg",
title: "CSS3",
text: "This style language allows me to create absolutely any look and feel for your site or application. Everything is limited only by your imagination!",
isParent: true,
})
	+skillsBlock({
skill: "js",
imgSrc: "/assets/icons/skills/js.svg",
title: "JavaScript",
text: "This programming language allows you to bring anything to life: sliders, windows, tooltips, tabs, getting data from the server and much more.",
isParent: true,
})
	+skillsBlock({
skill: "react",
imgSrc: "/assets/icons/skills/react.svg",
title: "React",
text: "This library allows you to create web applications. We can create the most interactive product specifically for your goals."
})
	+skillsBlock({
skill: "additionals",
imgSrc: "/assets/icons/skills/additionals.svg",
title: "Additional technologies",
text: "Everything I also use at work.",
isParent: true,
})
