include ../../elements/titles

mixin skillsBar({name, percentage})
	.skills__bar
		.skills__bar-head
			+subtitleCircled(name).subtitle_left.skills__bar-subtitle
			.skills__bar-percentage= percentage
		.skills__bar-line

.skills__bars
	+skillsBar({ name: "Website development", percentage: "75"})
	+skillsBar({ name: "Creativity", percentage: "80"})
	+skillsBar({ name: "Soft Skills", percentage: "70"})
