include ../../elements/titles
include ./skillsBlock

section.section.skills(data-anchor='skills')
	.container
		+subtitleCircled("Skills", "h2").skills__subtitle
		.title.skills__title What do I use in work

		.skills__wrapper
			

		include ./skillsBars
