include ./skillsBlock

#skills-js.skills__blocks
	+skillsBlock({
title: "Lorem ipsum dolor sit.",
text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores blanditiis quod totam expedita ex similique! Accusantium, deleniti nam voluptatem quam illum cumque tempora fuga deserunt eveniet laborum? Itaque."
}).description
	+skillsBlock({
skill: "typescript",
imgSrc: "/assets/icons/skills/ts.svg",
title: "TypeScript",
text: "The Jquery library will speed up development. We will not integrate it into the project without the need to integrate it, but the skill of working with it is present."
})
	+skillsBlock({
skill: "babel",
imgSrc: "/assets/icons/skills/babel.svg",
title: "Babel",
text: "The Jquery library will speed up development. We will not integrate it into the project without the need to integrate it, but the skill of working with it is present."
})
	+skillsBlock({
skill: "jquery",
imgSrc: "/assets/icons/skills/jquery.svg",
title: "Jquery",
text: "The Jquery library will speed up development. We will not integrate it into the project without the need to integrate it, but the skill of working with it is present."
})
