include ./skillsBlock

#skills-css.skills__blocks
	+skillsBlock({
title: "Lorem ipsum dolor sit.",
text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores blanditiis quod totam expedita ex similique! Accusantium, deleniti nam voluptatem quam illum cumque tempora fuga deserunt eveniet laborum? Itaque."
}).description
	+skillsBlock({
skill: "sass",
imgSrc: "/assets/icons/skills/sass.svg",
title: "Sass",
text: "A preprocessor that superpowers CSS, it is very easy to scale an existing stylesheet with it"
})
	+skillsBlock({
skill: "less",
imgSrc: "/assets/icons/skills/less.svg",
title: "Less",
text: "It is a dynamic style language for CSS. To put it simply, it's the same Sass, but simpler and easier."
})
