include ./skillsBlock

#skills-html.skills__blocks
	+skillsBlock({
title: "Lorem ipsum dolor sit.",
text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores blanditiis quod totam expedita ex similique! Accusantium, deleniti nam voluptatem quam illum cumque tempora fuga deserunt eveniet laborum? Itaque."
}).description
	+skillsBlock({
skill: "pug",
imgSrc: "/assets/icons/skills/pug.svg",
title: "Pug/Jade",
text: "The preprocessor which greatly speeds up and simplifies the writing of HTML templates."
})
	+skillsBlock({
skill: "bootstrap",
imgSrc: "/assets/icons/skills/bootstrap.svg",
title: "Bootstrap",
text: "The most popular HTML, CSS and JS library in the world, helps to quickly and efficiently create projects with responsive design."
})
	+skillsBlock({
skill: "materialize",
imgSrc: "/assets/icons/skills/materialize.svg",
title: "Materialize",
text: "Library for responsive design based on Material Design from Google."
})
