include ./skillsBlock

#skills-additionals.skills__blocks
	//- +skillsBlock({
	//- title: "Lorem ipsum dolor sit.",
	//- text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores blanditiis quod totam expedita ex similique! Accusantium, deleniti nam voluptatem quam illum cumque tempora fuga deserunt eveniet laborum? Itaque."
	//- }).description
	+skillsBlock({
skill: "vscode",
imgSrc: "/assets/icons/skills/vscode.svg",
title: "VS Code",
text: "The main code editor that I use in my work. Constant support, many plugins and built-in terminal have made it a favorite of many developers."
})
	+skillsBlock({
skill: "gulp",
imgSrc: "/assets/icons/skills/gulp.svg",
title: "Gulp",
text: "A task manager for automatically performing frequently used tasks, written in the JavaScript programming language. Makes work very easy."
})
	+skillsBlock({
skill: "webpack",
imgSrc: "/assets/icons/skills/webpack.svg",
title: "Webpack",
text: "A module collector with a lot of possibilities, in particular, it can parse JavaScript and other code."
})
	+skillsBlock({
skill: "git",
imgSrc: "/assets/icons/skills/git.svg",
title: "Git",
text: "Version control system, a very powerful tool without which no large project can do."
})

	+skillsBlock({
skill: "redux",
imgSrc: "/assets/icons/skills/redux.svg",
title: "Redux",
text: "This library is a store or state manager, used in conjunction with React to create an application whose elements must behave in a variety of ways."
})
