doctype html
html 
	include includes/head

	body
		include includes/elements/hamburger
		include includes/elements/menu
		include includes/elements/sidepanel
		main#fullpage
			include includes/sections/promo
			include includes/sections/about
			//- include includes/sections/resume
			include includes/sections/skills/skills
			include includes/sections/portfolio
			//- include includes/sections/prices
			include includes/sections/contacts

		script(src='/script.js')
