include ../elements/titles

- var items = about.items;

mixin skillsItem({imgSrc, imgAlt, title, text})
	.about__skills-item
		.about__skills-img
			img(src=imgSrc, alt=imgAlt)
		h3.about__skills-subtitle.subtitle.subtitle_fz14= title
		p.about__skills-text= text

section.about.section(data-anchor='about')
	.container
		.about__wrapper
			.about__photo
				img(src='/assets/img/main_photo.jpg', alt='photo')
			.about__descr
				+subtitleCircled("About me", "h2").about__subtitle.subtitle_left
				.about__title.title.title_left My name is Andrew Sannikov
				p.about__text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

			.about__skills
				+skillsItem({
imgSrc: "/assets/icons/about_me/web_development.svg",
imgAlt: "web_development",
title: "Web Development",
text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua."
})
				+skillsItem({
imgSrc: "/assets/icons/about_me/mobile_dev.svg",
imgAlt: "mobile_dev",
title: "Application Development",
text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua."
})
