include ../elements/titles

section.portfolio.section(data-anchor='portfolio')
	.container
		+subtitleCircled("Portfolio", "h2").portfolio__subtitle
		.title.portfolio__title My works
		.portfolio__wrapper
