- var items = prices.items;

mixin pricesItem({title, cost, descr})
	.prices__item
		h3.subtitle.subtitle_fz14.prices__item-subtitle= title
		.subtitle.subtitle_fz14.prices__item-price= cost
		.prices__item-descr= descr

section.prices.section(data-anchor='prices')
	.container
		h2.subtitle.prices__subtitle(data-text='Прайс-лист') Прайс-лист
		.divider
		.prices__wrapper
			each item in items
				+pricesItem({...item})
