include ../elements/titles
section.promo.section(data-anchor='promo')
	.container
		+subtitleCircled("My name is Andrew Sannikov", "h2").subtitle_left
		h1.promo__title.title.title_big
			| I'm a Web-Developer
			br
			| from Kazan
		.promo__btns
			a.btn.promo__btn(href='#portfolio') Portfolio
			a.btn.promo__btn.btn_invisible(href='#about') About me
