@media (max-width: 1200px) {
	.contacts {
		.container {
			padding-bottom: 60px;
		}
		&__wrapper {
			grid-template-columns: 400px 500px;
		}
		&__form {
			&-btn {
				margin-right: 15px;
			}
			&-policy {
				position: relative;
				span {
					display: block;
					padding-left: 20px;
				}
			}
			&-checkbox {
				position: absolute;
				top: 9px;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}
@media (max-width: 992px) {
	.contacts {
		&__wrapper {
			grid-template-columns: 1fr;
		}
		&__photo {
			display: none;
		}
		&__form {
			row-gap: 20px;
			column-gap: 30px;
			&-triggers {
				position: static;
				grid-column: span 2;
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				width: 100%;
				#policy-error {
					top: -48px;
					left: 50%;
					transform: translateX(-50%);
					width: 300px;
					text-align: center;
				}
			}
			&-btn {
				margin: unset;
			}
			&-policy {
				position: relative;
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
	}
}
@media (max-width: 768px) {
	.contacts {
		&__form {
			column-gap: 15px;
		}
	}
}
@media (max-width: 576px) {
	.contacts {
		&__form {
			grid-template-columns: 1fr;
			grid-template-rows: 45px 45px 190px auto;
			column-gap: unset;
			&-textarea {
				grid-column: unset;
			}
			&-triggers {
				grid-column: unset;
			}
			&-policy {
				width: 180px;
			}
			&-checkbox {
				top: 50%;
			}
		}
	}
}
