.btn {
	height: 44px;
	border: none;
	padding: 12px 25px;
	background-color: $main-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: $secondary-text-color;
	&:hover {
		color: $secondary-text-color;
		text-decoration: none;
	}
	&_invisible {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 125px;
		height: 44px;
		background-color: transparent;
		box-shadow: none;
		color: $text-color;
		&:hover {
			color: $text-color;
			&::after {
				width: 130px;
			}
		}
		&::after {
			content: '';
			position: absolute;
			width: 0;
			top: 44px;
			height: 3px;
			background-color: $main-color;
			transition: 0.5s all;
		}
	}
	&_hollow {
		background-color: unset;
		width: fit-content;
		color: $secondary-text-color;
		border: 1px solid $secondary-text-color;
		&:hover {
			color: $secondary-text-color;
		}
	}
}
