mixin facebookLink
	a.inactive(href="#")&attributes(attributes): include /assets/icons/social/facebook.svg
mixin githubLink
	a(href="https://github.com/AndrewSunshiny")&attributes(attributes): include /assets/icons/social/github.svg
mixin instagramLink
	a.inactive(href="#")&attributes(attributes): include /assets/icons/social/instagram.svg
mixin telegramLink
	a(href="https://t.me/AndrewSunshiny")&attributes(attributes): include /assets/icons/social/telegram.svg
mixin mailLink
	a(href="mailto:andrewsunshiny.red@gmail.co")&attributes(attributes): include /assets/icons/social/google.svg
mixin whatsappLink
	a(href="https://wa.me/+79872946843")&attributes(attributes): include /assets/icons/social/whatsapp.svg
